/* _______________________________________________________________________________________________________________________ */
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poiret+One&display=swap");
/* _______________________________________________________________________________________________________________________ */

/* SELECTOR UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* _______________________________________________________________________________________________________________________ */

/* BODY */
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: center;
}
/* _______________________________________________________________________________________________________________________ */

/* CONTENEDOR DE TODO */
.container {
  display: flex;
  flex-flow: column nowrap;
}
/* _______________________________________________________________________________________________________________________ */

/* DECORACIÓN SUPERIOR */
#line-decoration {
  display: flex;
  flex-flow: row wrap;
  background-image: url("/img/japanese\ patterns.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-color: #ce0018; */
  height: 100px;
  width: 100%;
}
/* _______________________________________________________________________________________________________________________ */

/* HEADER Y SUS ELEMENTOS */
header {
  display: flex;
  flex-flow: row nowrap;
}
nav.main-menu {
  flex: 1 1 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 30px;
}
div.logo {
  flex: 1 1 40%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 165px;
}
nav.main-menu ul {
  width: 30%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-between;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.747);
}
header ul li a:hover {
  border-bottom: 2px solid #ce0018;
  font-size: 35px;
  color: white;
  color: #ce0018;
}
.img-sushi {
  width: 100px;
  height: 100px;
}
.img-sushi:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* _______________________________________________________________________________________________________________________ */

/* CONTENIDO PRINCIPAL */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 30px 0px;
}
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
section div img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
.textos-container {
  display: flex;
  flex-flow: column wrap;
}
h1 {
  font-family: "Poiret One", cursive;
  font-size: 12vw;
  text-align: end;
}

h2 {
  color: #ce0018;
  text-align: end;
  padding-top: 15px;
}
p {
  text-align: end;
}
#button {
  margin-top: 30px;
  transition: transform 250ms;
  justify-content: flex-end;
  display: flex;
}
section div div a {
  text-decoration: none;
  color: white;
  background-color: #ce0018;
  padding: 10px;
  border-radius: 6px;
  transition: transform 250ms, opacity 400ms;
}
section div div a:hover {
  transform: scale(1.2);
  opacity: 50%;
}
#button:hover {
  transform: translateY(-10px);
}
/* _______________________________________________________________________________________________________________________ */
/* PIE DE PÁGINA */
footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 15px;
  width: 100%;
}
footer ul {
  display: flex;
  flex-flow: row wrap;
}
footer ul li {
  padding: 15px;
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.747);
}
footer ul li a:hover {
  border-bottom: 2px solid #ce0018;
  font-size: 50px;
  color: #ce0018;
}
.social-icon:hover {
  /* INICIA LA ANIMACIÓN Y HACE DURAR LA ANIMACIÓN POR 0.5 SEGUNDOS */
  animation: shake 0.5s;

  /* REINICIA LA ANIMACIÓN UNA VEZ TERMINA, NUEVA ITERACIÓN */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* _______________________________________________________________________________________________________________________ */
/* STYLES FOR CONTACT */
form {
  background-color: #ce0018;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}

form ul {
  list-style: none;
  font-size: 30px;
}

.flex-outer li {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
  margin: 5px;
  background-color: #00000023;
  color: white;
}

.comments {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 300px;
  margin: 5px;
  background-color: #00000023;
}
textarea {
  color: white;
}
textarea::placeholder {
  color: #fff;
}
form ul li button {
  background-color: white;
  color: black;
  border: 2px solid #00000023;
  padding: 5px;
  border-radius: 4px;
  margin: 3px;
  font-size: 16px;
  font-weight: 600;
  width: 150px;
}
form ul li button:hover {
  background-color: #00000023;
  color: white;
  border: 2px solid white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* _______________________________________________________________________________________________________________________ */
/* IMAGEN MENU */
#img-menu {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
/* _______________________________________________________________________________________________________________________ */
@media (max-width: 480px) {
  header {
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: center;
  }
  nav.main-menu ul {
    width: 75%;
    padding: 0px;
}
  div.logo {
    padding-right: 30px;
}
  
}
